.fixed {
    position: fixed;
    width: 100vw;
    background-color: white;
    text-align: center;
}
.logo {
    width: 115px;
    margin-right: auto;
    margin-left: auto;
}
.nav {
    font-family: 'Rubik', sans-serif;  

}
.menu {
    font-size: 16px;
    color: #4a4a4a;
}
.menublog {
    margin-right: 20px;
}
.creating {
    background-color: #3CDBC0;
    color: #FFFFFF;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.diversity {
    text-align: center;
    font-size: 30px;
    font-family: 'Rubik', sans-serif;
}