.fixed {
    position: fixed;
    width: 100vw;
    background-color: white;
    text-align: center;
}
.logo {
    width: 115px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
}
.nav {
    font-family: 'Rubik', sans-serif;  
    margin-bottom: 13px;
    margin-top: 10px;

}
.menu {
    font-size: 16px;
    color: #4a4a4a;
}
.menublog {
    margin-left: 30px;
}
.menucontact {
    margin-left: 20px;
}
.creating {
    background-color: #3CDBC0;
    color: #FFFFFF;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.diversity {
    text-align: center;
    font-size: 30px;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
}

@media all and (min-width: 768px) {
.diversity {
    font-size: 40px; 
}   

.fixed {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo {
 margin-left: 30px;
 margin-top: 20px;
 margin-bottom: 20px;
}

.nav {
    margin-top: 40px;
}

.menucontact {
margin-right: 30px;

}
}